*{margin: 0;padding: 0;}

body{font-family: 'Open Sans', sans-serif;}
a{text-decoration: none;}
ul{padding: 0;margin: 0;}

header{width: 100%;}
.fixed-menu{position: fixed; width: 100%;background-color: #fff;top: 0;left: 0;z-index: 999;}
/***********************
* top header section css
************************/
.top-header{background-color: #eaefff;padding: 14px 0px;}
.top-left{text-align: left;}
.top-left span{color: #fe5c24;font-size: 14px;margin-right: 24px;}
.top-left a{color: #0c3e72;margin-right: 16px;font-size: 14px;}
.top-left a:hover, .top-right ul li a:hover{color: #fe5c24;}

.top-right{text-align: right;}
.top-right ul li{list-style: none;display: inline-block;margin-left: 16px;}
.top-right ul li a{color: #0c3e72;}
.top-right span{margin-left: 16px;color: #0c3e72;font-size: 14px;}
.top-right span i{color: #fe5c24;font-size: 14px;margin-right: 6px;}

/******************
*main-menu section
******************/

.nav-link{font-size: 16px;color: #0c3e72 !important;padding: 38px 22px;}
#navbarSupportedContent ul li a:hover{color: red !important;}
.nav-item{margin: 0px 16px;}
.book-now{padding: 13px 30px;background-color: #fe5c24;font-size: 16px;color: white;border:none;}
.book-now:hover{color: white;background-color: #2493e0;
}

/***********************
* banner section css
************************/
#banner{width: 100%;background-image: url(../img/banner.png);background-size: cover;background-repeat: no-repeat;background-position: center; height: 100vh;}
.banner-content{text-align: center;height: 100vh; align-items: center;display: flex;justify-content: center;}
.banner-content h1{font-size: 120px;line-height: 1;text-transform: capitalize;color: #fff;font-weight: 700;margin-top: 22px;}
.banner-content p{font-weight: 400px;font-size: 24px;color: #fff;margin-top: 6px;}
.banner-content .banner-btn{padding: 23px 79px;background-color: #2493e0;font-size: 16px;color: white;border:none;display: inline-block;margin-top: 4rem;}
.banner-content .banner-btn:hover{background-color: #fe5c24;}

/***********************
* banner section css
************************/
#search{width: 100%;z-index: -111;}
#search .search-box{background-color: #fff;margin-top: -100px;color: #2493e0;}
#search .search-box .tab-options{padding: 0px 40px;}
#search .search-box .tab-options ul li{padding: 40px 0px;position: relative; list-style: none;display: inline-block;padding-right: 32px; }
#search .search-box .tab-options ul li:hover{cursor: pointer;color: red;}
#search .search-box .tab-content{padding: 40px 20px;box-shadow: 0 10px 40px 0 rgb(221 221 221 / 30%);}
#search .search-box .tab-options ul li .line{width: 70%;height: 3px;background: #2493e0;display: block;position: absolute;bottom: 0;left: 0;}
#search .search-box .tab-content form{display: flex;justify-content: space-evenly;}
#search .search-box .tab-content .form-div{flex-basis: 20%;position: relative;}
#search .search-box .tab-content .form-div i{position: absolute;right: 10px;top: 40%;transform: translate(-50%);}
#search .search-box .tab-content .form-div .form-field{padding: 16px;width: 100%;}

/***********************
* banner section css
************************/
#offer{width: 100%;height: 100vh;}
#offer .offer-tittle{margin-top: 6rem;margin-bottom: 4rem; text-align: center;}
#offer .offer-tittle h2{font-size: 46px;color: #0c3e72;line-height: 1.1;font-weight: 700;position: relative;margin-bottom: 26px;}
#offer .offer-tittle p{font-size: 16px;font-weight: 400;color: #777;line-height: 28px;}    
.fast-pic h5{font-size: 24px;color: #0c3e72;margin-top: 20px; margin-bottom: 20px;}
.fast-pic p{color: #a2a2a2;line-height: 28px;font-size: 16px;margin-bottom: 0;font-weight: 400;}

/***********************
* banner section css
************************/

#footer-end{width: 100%;padding: 100px;background-color: #efefef;}
.footer-ended{text-align: center;}
.footer-ended a{color: red !important;}
